<div id="settings_mrbeam_messages">
    <h3>{{ _('Messages') }}</h3>

    <div class="scrollable" style="padding-bottom:2em; overflow-y: auto; height: calc(100vh - 150px);">

        <div class="scrollable" data-bind="foreach: messages">
            <div>
                <h5 data-bind="text: content.title"></h5>
            </div>
            <div>
                <div data-bind="text: date"></div>
                <div data-bind="text: content.body"></div>
            </div>
        </div>

    </div>

    <br />

</div>
